@model IEnumerable<MySchool.Models.School>

@{
    ViewBag.Title = "Schools";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Schools</h2>

@Html.ActionLink("Add School", "AddSchool", "School", null, new { @class="btn btn-primary"})

@if (!Model.Any())
{
    <p>We don't have any schools yet.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>School</th>
                <th>County</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var school in Model)
            {
                <tr>
                    <td>@Html.ActionLink(school.Name, "EditSchool", "School", new { id = school.Id }, null)</td>
                    <td>@school.County.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

